<%- include('layout/header/headerHome.ejs',{tituloweb:'Inicio de session',css:'/css/Home.css'}) %>
    <main>

        <div>
            <h1>Tareas en ejecucion</h1>
            <br>
            <div>
                <a class="ButtonNew" href="/api/tareas/New">Crear nuevas tareas</a>
            </div>
            <div class="container-tareas">
                <% if(Tareas ){ %>
                    <%Tareas.forEach(t=>{%>
                        <div class="container-Item">
                            <h2>
                                <%= t.Name %>
                            </h2>

                            <h4>Avance actual:
                                <%=t.Avance  %>%
                            </h4>
                            <h4>Fecha de inicio:
                                <%= t.Fecha %>
                            </h4>
                            <p>Description:
                                <%= t.Description %> .</p>
                            <div class="item-Avance">



                                <a href="/api/tareas/EditTarea/<%= t._id %> "><i class="fas fa-edit"></i> Avance</a>
                            </div>

                        </div>
                        <% })  %>
                            <% } %>
            </div>
    </main>